/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/


.owl-carousel{
    /* width: 100%; */
    height: calc(624px - 40px);
}

.owl-theme .owl-nav [class*=owl-] {
    margin: 0 !important;
    padding: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

header .owl-theme .owl-nav [class*=owl-] {
    border-radius: 50%;
    border: 1px solid #eeeeee !important;
    width: 50px;
    height: 50px;
}.owl-theme .owl-nav span{
    height: 1.3em;
}
.owl-nav button{
    border: none !important;
    outline: none !important;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 2em !important;
    font-weight: bolder !important;
    background: none !important;
    z-index: 3;
}header .owl-prev, header .owl-next{
    color: #eeeeee !important;
}#el_gallery .owl-prev, #el_gallery .owl-next{
    color: var(--primary) !important;
}.owl-prev{
    left: 1%;
}.owl-next{
    right: 1%;
}